body {
  font-family: sans-serif;
}

.box {
  width: 100px;
  height: 100px;
}

#red {
  background-color: #ee0000;
}

#green {
  background-color: #00ee00;
}

#blue {
  background-color: #0000ee;
}

.slide {
  animation: slide 2s;
  animation-fill-mode: forwards;
}

@keyframes slide {
  to {
    transform: translateX(300%);
  }
}
